numpy~=1.26.4
pandas~=2.2.1
scikit-image~=0.22.0
nibabel~=5.2.1
pydicom~=2.4.4
scipy~=1.13.0
shapely~=2.0.4
pyarrow>=14.0.1
swifter~=1.4.0
phandose~=1.0
setuptools~=69.5.1
ipython
rich
totalsegmentator
dask
platipy~=0.7.2